<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Hello Everyone</h2>
            <h2>Google.com</h2>
            <img src="https://material.angular.io/assets/img/examples/shiba1.jpg">
        </div>
    </div>
    <h2 MatSubheader>Profile</h2>

    <mat-divider></mat-divider>
    <a mat-list-item routerLink="/" routerLinkActive="list-item-active">Dashboard</a>
    <a mat-list-item routerLink="/" routerLinkActive="list-item-active">Post</a>
    <a mat-list-item routerLink="/" routerLinkActive="list-item-active">Articles</a>

    <h2 MatSubheader>Tools</h2>
    <mat-divider></mat-divider>

    <a mat-list-item routerLink="/" routerLinkActive="list-item-active">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>
    <a mat-list-item routerLink="/" routerLinkActive="list-item-active">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>
</mat-nav-list>