<div>
    <app-area></app-area>
</div>
<mat-divider></mat-divider>
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
    <mat-card fxFlex="25">
        <app-widget-card label="Users" total="18k" percentage="50"></app-widget-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-card></app-widget-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-card></app-widget-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-card></app-widget-card>
    </mat-card>
</div>

<br>
<mat-divider></mat-divider>
<br>
<div>
    <div>
        <div>Line Chart</div>
        <div>Line Chart</div>
        <div>Line Chart</div>
        <div>Line Chart</div>

    </div>
</div>